@charset "UTF-8";

*{
    list-style: none;
    box-sizing: border-box;
}
.master_bp{
   margin: 50px;
}
#master_bp{
    width: 1200px; display: flex; flex-flow: row wrap;
}
#master_bp figure img{
	width: 190px;
    height: 190px;
    overflow: hidden;
}

figcaption{
    text-align: center;
    font-size: 20px;
}