body{
    margin: 0;
}

.navbar_menu a{
text-decoration: none;
color: white;
}

.navbar {
  display: flex;

    align-items: center;
    background-color: #8cbc14;
    padding: 8px 12px;
    font-family: 'Recursive', sans-serif;

}

.navbar_logo {
	justify-content: flex-start;
    font-size: 24px;
    color : white;
}
.navbar_logo i{
	color: white;
}

.navbar_menu{
    display: flex;
    	justify-content: center;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li{
    padding: 8px 12px;
    white-space: nowrap;
}

.navbar_menu li:hover{
    background-color: #FF8B10;
    border-radius: 4px;
}

.navbar_log{
		justify-content: flex-start;
    padding: 8px 12px;
    color: white;
}

.navbar_log i{
    list-style: none;
    color: white;
    display: flex
}




@media (max-width: 800px){
	body{
	overflow-x : scroll;
	}
}





